<!--div id="page">
    <p style="text-align: center">I'm <strong>Claudio La Barbera</strong> <span class="web-developer"><span class="web">web</span> <span class="developer">developer</span></span> based in Palermo</p>
</div-->

<div id="timeline" data-aos="zoom-in" data-aos-delay="800">
    <div data-aos="fade-up" class="element palermo">
        <p class="year">April 1993</p>
        <p class="text">Born in Palermo</p>
    </div>
    <div data-aos="fade-up" class="element batman">
        <p class="year">May 1996</p>
        <p class="text">Watched <strong class="batman-returns"><span class="batman-text">Batman</span><br><span class="returns-text">Returns</span></strong> for the first time</p>
    </div>
    <div data-aos="fade-up" class="element amiga">
        <p class="year">September 1996</p>
        <p class="text">Played with <strong>Amiga 600</strong></p>
    </div>
    <div data-aos="fade-up" class="element slow-internet">
        <p class="year">December 2000</p>
        <p class="text">Discover the web with <strong>56K</strong></p>
    </div>
    <div data-aos="fade-up" class="element html">
        <p class="year">August 2005</p>
        <p class="text">First <span class="code"><span class="html-code">HTML</span>&&<span class="css-code">CSS</span></span> website online</p>
    </div>
    <div data-aos="fade-up" class="element graduate">
        <p class="year">September 2012</p>
        <p class="text">Senior High School Degree in <span class="code"><span class="html-code">Information</span>_<span class="css-code">Technology</span></span> at ITIS A. Volta</p>
    </div>
    <div data-aos="fade-up" class="element work-qwince">
        <p class="year">October 2012</p>
        <p class="text">Started to work as <span class="code"><span class="html-code">web</span><span class="css-code">developer</span></span> at Qwince</p>
    </div>
    <div data-aos="fade-up" class="element university">
        <p class="year">September 2017</p>
        <p class="text">Started to study <span class="code"><span class="html-code">Computer</span>_<span class="css-code">Science</span></span> at University of Palermo</p>
    </div>
</div>