#title, #subtitle {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
}

#title {
    text-transform: uppercase;
    margin: 0px;
    white-space: nowrap;
    font-size: 2em;
}

#subtitle {
    text-transform: lowercase;
    margin: 0px;
    white-space: nowrap;
    font-size: 1.4em;
}