<a id="menu-button" [ngClass]="{'opened': menuOpened }" (click)="menuOpened = !menuOpened;">
    <i class="fas fa-bars"></i>
</a>

<nav class="menu-wrapper" [ngClass]="{'opened': menuOpened }">
  <div class="icon-list">
    <ul class="menu-ul">
      <li><a routerLink="/" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="HOME">Home</span></a></li>
      <li><a routerLink="/about-me" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="ABOUT ME">About Me</span></a></li>
    </ul>

    <ul class="social-links-ul">
      <li><a href="https://blog.thebatclaud.io" title="Blog" target="_blank" class="social-link"><i class="fas fa-rss-square"></i></a></li>
      <li><a href="https://www.facebook.com/thebatclaudio" title="Claudio La Barbera on Facebook" target="_blank" class="social-link"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.twitter.com/thebatclaudio" title="Claudio La Barbera on Twitter" target="_blank" class="social-link"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/thebatclaudio" title="Claudio La Barbera on Instagram" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.github.com/thebatclaudio" title="Claudio La Barbera on GitHub" target="_blank" class="social-link"><i class="fab fa-github-square"></i></a></li>
      <li><a href="https://www.linkedin.com/in/claudio-la-barbera/" title="Claudio La Barbera on LinkedIn" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
    </ul>

    <div class="contact-me">
      <p>Get in touch</p>
      <p class="email-address"><a href="mailto:hello@thebatclaud.io" title="Send an email">hello[at]thebatclaud.io</a></p>
    </div>
  </div>
</nav>
