<h2 id="drop-a-line">Drop a line to</h2>
<h1 id="email">info[at]thebatclaud.io</h1>

<ul class="socials">
    <li><a href="https://www.facebook.com/thebatclaudio" target="_blank" title="Claudio La Barbera on Facebook">Facebook</a></li>
    <li><a href="https://www.twitter.com/thebatclaudio" target="_blank" title="Claudio La Barbera on Twitter">Twitter</a></li>
    <li><a href="https://www.instagram.com/thebatclaudio" target="_blank" title="Claudio La Barbera on Instagram">Instagram</a></li>
    <li><a href="https://www.github.com/thebatclaudio" target="_blank" title="Claudio La Barbera on Github">Github</a></li>
</ul>