@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

#email, #drop-a-line {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
}

#email {
    margin: 0px;
    white-space: nowrap;
    font-size: 2em;
    font-family: 'Ubuntu Mono', monospace;
}

#drop-a-line {
    text-transform: lowercase;
    margin: 0px;
    white-space: nowrap;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.socials {
    list-style-type: none;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
}

.socials li a {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}

@media only screen and (min-width: 1440px) {
    #title { font-size: 6em}
    #subtitle { font-size: 4em}
}