@import url('https://fonts.googleapis.com/css?family=Anton|Aldrich');

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

#logo-container {
    display: block;
    position: fixed;
    background-color: #212121;
    height: 50px;
    top: 20px;
    left: 70px;
    z-index: 9999;
}

#logo {
    font-family: 'Aldrich', sans-serif;
    color: #FFF;
    font-size: 25px;
    margin: 12.5px 20px;
    padding: 0px;
} 

#logo span {
    color: #a53232;
}