@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

header {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: none;
}

#title, #subtitle {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Rammetto One', cursive;
    text-transform: uppercase;
}

#title {
    margin-bottom: 0px;
    white-space: nowrap;
    font-size: 4em;
}

#subtitle {
    margin-top: 0px;
    white-space: nowrap;
    font-size: 2em;
}
